.featured-sections {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  background-color: #e6f2ff;
}

.featured-card {
  text-align: center;
  padding: 1rem;
  border-radius: 8px;
  width: 45%;
  color: white;
  background-size: cover;
  background-position: center;
  position: relative;
  min-height: 250px;
  display: flex;
  flex-flow: column;
  gap: 25px;
}

.featured-card h3 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.featured-card p {
  margin-bottom: 1rem;
}

.featured-card button {
  padding: 1rem 2rem;
  background-color: #004080;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 4px;
}

.featured-card.snorkeling {
  background-image: url("../assets/Snorkeling.jpg");
}

.featured-card.flight {
  background-image: url("../assets/Airplane.jpg");
}

.featured-card-content {
  padding: 1rem 0px;
  background-color: #003366;
}

.featured-card h3 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
